*{
    margin: 0;
    font-family: inter;
    color: #f9ffff;
}
header{
    background-color: rgba(0,0,0,0.3);
    z-index: 50;
 
}
header button{
    height: 40px;
    width: 90px;
    border-radius: 5px;
}

header button:hover{
    background-color:#3B82F6;
    transition: 0.3s ease-in-out;
}

.buttonWrap{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

.decore p{
    color: rgba(255,255,255,0.3);
    font-size: 1.1rem;
}
/* Animation */
.animateOnScroll {
  opacity: 0;
  transform: translateY(50px); /* start slightly below */
  transition: all 0.8s ease-out;
}

/* When element is visible */
.animateOnScroll.visible {
  opacity: 1;
  transform: translateY(0); /* move to original position */
}